<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="slide-169-1">
    		<div class="button">
      			<b class="button1">Enter</b>
    		</div>
    		<b class="vora">Vora</b>
            <b class="prompt">Music without barriers</b>
  	</div>
  	
  	
  	
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>